<div *ngIf="DATE_TIME && DATA.length">
    
    <h2>Retail price</h2>
    <table>
        <th>कृषि उपज</th>
        <th>ईकाइ</th>
        <th>न्यूनतम</th>
        <th>अधिकतम</th>
        <th>औसत</th>
        <tr *ngFor="let item of DATA">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
        </tr>
    </table>
    <p>{{DATE_TIME.dateWR[1]}}</p>
    <p>{{DATE_TIME.timeWR[1]}}</p>
</div>

